<div class="footer">
	<div class="row">
		<div class=" col-xs-12 col-sm-12 col-lg-4 col-md-3">
			<span>Copyright Venture Institute 2013</span>
		</div>
		<div class="col-xs-12 col-sm-12 col-lg-4 col-md-6">
			<span></span>
		</div>
		<div class="col-xs-12 col-sm-12 col-lg-4 col-md-3">
			<span>Mantente en contacto <%= link_to 'Suscríbete al Newsletter', nil %></span>
		</div>
	</div>
</div>

<!--

			-->