<div class="navbar">
	<div class="border">
		<%= render_elements only: 'navbar', from_page: 'intro' %>
	</div>
	<div class="menu">
		<%= link_to image_tag('vi-logo.png', :class => 'logo'), '/home' %>
		<ul>
			<%= render_elements only: 'menu', from_page: 'intro' %>
		</ul>
	</div>
</div>