<%= element_view_for(element) do |el| -%>
	<p class="details">
		<%= el.render :address %>
		<br/>
		<%= el.render :phone %> 
	</p>
	<p class="centered">
		<%= mail_to(el.render(:email), "Contáctanos", :class => 'action-button') %>
	</p>
<%- end -%>
