/*
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 */

html, body {
  height:100%;
  min-height:100%;
  margin:0;
	font-family: "Trebuchet MS", Helvetica, sans-serif ;
}

.owl-item img {
	display: block;
	width: 100%;
}

.owl-item {
	text-align: right;
} 

.owl-item .inner-item {
	position: absolute;
	bottom: 200px;
	right: 100px;
	width: 25%;
 	top: 30%;
}

.navbar {
	margin-bottom: 0px;
}

.navbar .text {
	margin-right: 30px;
}

.navbar .logo {
	position: absolute;
	left: 70px;
	top: 20px;
}

.navbar .border {
	margin: -1px;
	background-color: #2FB4E9;
	height: 25px;
	width: 100%;
}

.navbar .menu {
	height: 80px;
	width: 100%;
	background-color: white;
}

ul {
	margin: 0px 20px 0px 0px;
	padding: 0px;
	text-align: right;
}

ul li {
	list-style: none;
	margin-right: 30px;
	display: inline-block;
}

ul li a {
	text-decoration: none;
}

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999 !important;
}

.navbar .menu ul li {
	margin-left: 4%;
	text-transform: uppercase;
	font-size: 13px;
}

.navbar .border ul li {
	text-transform: uppercase;
	font-size: 12px;
}

.navbar .border ul li a {
	color: white;
}

.navbar .menu ul li {
	margin-top: 30px;
}

.navbar .menu ul li a {
	color: #666666;
}

.hidden {
	display: none;
}

#slides-container {
	margin-top: 100px;
}

#slides-indicators {
	width: 100%;
	position: absolute;
}

#slides-indicators ul {
	text-align: center;
}

#slides-indicators .circle {
	width: 8px;
	height: 8px;
	display: block;
}

#slides-indicators .gray-circle {
	background: url(/assets/grey-dot.png);
}

#slides-indicators .blue-circle {
	background: url(/assets/blue-dot.png);
}

.dot {
	margin-bottom: 4px;
}

.infographic {
  height: 400px;
  width: 100%;
  overflow: hidden;
  margin: 0px;
	background: no-repeat;
	background-size: 100%;
}

.infographic .content {
	width: 30%;
	font-size: 13px;
	margin-top: 30px;
	margin-right: 5%;
	margin-left: 5%;
	float: right;
	z-index: 9999 !important;
}

#open-call {
	height: 300px !important;
	width: 100%;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
}

#open-call .title {
	font-size: 40px;
}

#map {
	height: 200px;
	width: 100%;
}

.contact-marker {
	position: absolute;
	width: 300px;
	height: 120px;
	z-index: 9999;
	right: 53%;
	margin-top: 30px;
	background-color: white;
	border-radius: 2px;
	padding: 10px;
}

.contact-marker .right-caret {
	position: absolute;
	background: url(/assets/right-tri.png);
	width: 40px;
	height: 80px;
	right: -30px;
}

.contact-marker .contact-email {
	padding: 8px;
	background-color: #2FB4E9;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
}

.contact-marker .contact-email a {
	color: white;
}

.partners {
	background-color: #2FB4E9;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.partners .partner {
	display: inline-block;
}

.footer {
	background-color: white;
	color: #818181;
	text-transform: none;
	text-align: center;
	width: 100%;
	overflow: hidden;
	font-size: 11px;
}

.footer div {
	line-height: 30px;
	text-align: center;
}

.footer ul li a {
	text-decoration: none;
	color: #666666;
}

.footer ul {
	text-align: center;
}

@media screen and (orientation:portrait) or (orientation:landscape) and (max-device-width : 480px) {
	.footer {
		font-size: 25px !important;
	}
}
