.notices {
	margin-left: auto;
	margin-right: auto;
	margin: 30px;
	text-align: center;
}

.notice > div {
	vertical-align: top;
	display: inline-block;
}

.notice {
	min-width: 450px;
}

.notice .small img {
	max-width:100%; max-height:100%;
}

.notice .small {
	width: 40%;
	text-align: center;
	min-width: 400px;
	
}

.notice .large {
	margin: 20px;
	width: 55%;
	min-width: 300px;
	
}

.notice .column {
	width: 90%;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

.notice .large .name {
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 0px;
}

.notice .large .date {
	font-size: 15px;
	margin-top: 0px;
}