.persons {
	text-align: center;
}

.listing .bordered {
	width: 40%;
	float: right;
	border-top: 8px solid #5B9AD4;
}

.person {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 50%;
	min-width: 600px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.person > div {
	vertical-align: top;
	display: inline-block;
}

.person .name {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-weight: bold;
}

.person .occupation {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 14px;
}

.person .small {
	width: 35%;
	text-align: center;
}

.person .small .details {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.person .small .details .social {
	text-align: left;
}

.person .large {
	margin-left: 20px;
	width: 45%;
}

.person .description {
	text-align:justify;
}