.listing {
	padding-bottom: 100px !important;
}

.action-button:hover {
	text-decoration: none;
	color: white;
	background-color: #2FB4E9;
}

.action-button {
	font-family: Helvetica;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	padding: 8px 30px;
	border-radius: 2px;
	background-color: #2C99E9;
	
}

.centered {
	text-align: center;
}

.select-custom {
  display: inline-block;
  padding: 4px 3px 3px 5px;
  margin: 0;
  font: inherit;
  outline:none; /* remove focus ring from Webkit */
  line-height: 1.2;
  color:black;
  border: 1px solid #2FB4E9;
	-webkit-appearance:none; 
	border-radius: 0px !important;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: "";
	background: url('dropdown.png') no-repeat; 
	background-position: 95% 8px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.select-custom {
		background-position: 95% 4px !important;
		width: 120px;
	}
}

